.container-exercicioB{
    height: 400px;
    width: 100%;
    background-color: rgb(211, 205, 205);
}

.div1{
width: 100px;
height: 100px;
background-color: rgb(137, 137, 173) ;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
font-weight: 1000;

}
.div2{
    width: 100px;
height: 100px;
background-color: rgb(34, 34, 94);
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
font-weight: 1000;

}

.div3{
    width: 100px;
height: 100px;
background-color: rgb(241, 72, 101);
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
font-weight: 1000;
}
.div4{
    width: 100px;
height: 100px;
background-color: rgb(224, 159, 93);
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
font-weight: 1000;
}